@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* dark mod */
@layer base{
  body {
    @apply dark:bg-gray-800 bg-white text-white
  }
}

:is(.dark body) {
  color: white;
  background: #000000
}

/* //// */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scetionP {
  padding: 7em 0;
}

.services-cont:hover {
  background-color: #3e64ff;
}

.services-cont:hover .span {
  background-color: white;
}

.services-cont:hover .icon {
  color: white;
}

.prog-cont:hover .over-text,
.prog-cont:hover .over {
  display: block;
}

.w-fill-available {
  width: -webkit-fill-available;
}

.active-link {
  border-bottom: 3px solid rgb(62 100 255);
}

.active-link-list::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: #3e64ff;
  border-radius: 20px;
  position: absolute;
  left: 0;
}